script(type="text/javascript" src="/static/js/sockets.js")
p Welcome, just open this site on different Browsers and send a Message, open firebug or webkit console :)
p If you try to run this sample in safari it will not work with websockets, but long-polling
a#david(href="#") Message to David
a#kristina(href="#") Message to Kristina


h2
a(href="/logout") logout